.clickme.suffer {
  animation-name: suffer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.clickme.invincible {
  border: 5px yellow solid;
}

.clickme.dead {
  animation-name: dead;
  animation-iteration-count: infinite;
  animation-duration: 200ms;
}

.clickme.disabledAnimation {
  animation-name: disabled;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
}
.clickme.grabbed {
  transition: left 500ms, top 500ms;
}
.clickme.silenced {
  border-radius: 20px;
}
.clickme.sucked {
  border-radius: 20px;
  font-style: oblique;
  font-weight: lighter;
  text-decoration: line-through;
}
.clickme.fucked {
 filter:grayscale(1)
}
.clickme.stun {
  border-radius: 20px;
  border-color: brown;
  border-width: 5px;
}

.clickme.berserk_bubble {
  animation-name: berserkBubbled;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
}

.clickme.paladin_bubble {
  animation-name: paladinBubbled;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
}

.clickme.martyr{
  box-shadow:-5px -5px rgba(162, 0, 32, 0.72), 5px 5px rgba(162, 0, 32, 0.72),-5px 5px rgba(162, 0, 32, 0.72),5px -5px rgba(162, 0, 32, 0.72);
}
.clickme.buff_atk{
  box-shadow:-5px -5px rgba(72, 3, 3, 0.72), 5px 5px rgba(162, 0, 32, 0.72),-5px 5px rgba(162, 0, 32, 0.72),5px -5px rgba(162, 0, 32, 0.72);
}
.clickme.buff_heal{
  box-shadow:-5px -5px rgba(25, 9, 131, 0.72), 5px 5px rgba(162, 0, 32, 0.72),-5px 5px rgba(162, 0, 32, 0.72),5px -5px rgba(162, 0, 32, 0.72);
}

.clickme.contagious:after{
  position: absolute;
  width:20px;
  height:20px;
  font-size: 16px;
  top:0;
  right:0;
  content:"🦠";
  background-color: maroon;
  pointer-events: none;
  border:2px solid black;
}

#gameZone .clickme.invisible{
  opacity: 0;
}

#gameZone .clickme.invisible.isPlayer{
  opacity: 1;
  background: transparent!important;
}

#gameZone .clickme.stealth{
  opacity: 0;
}

#gameZone .clickme.stealth.isPlayer{
  opacity: 1;
  background: transparent!important;
}

.alterationListElt {
  width: 100%;
  padding: 0.4rem;
}

.alterationListElt:empty {
  display: none;
}

.alterationListElt .alteration {
  position: relative;
  width: 100%;
  margin-bottom: 0.2rem;
}

.alterationListElt .text {
  width: 100%;
  padding: 0.2rem;
}

.alterationListElt .progression {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 145, 255);
  z-index:-1;
}

.alterationListElt .tooltip .tooltiptext {
  width: 100%;
  margin-left: -50%;
}

@keyframes suffer {
  0% {
    transform: rotateY(0deg);
    background-color: red;
  }

  25% {
    transform: rotateY(30deg);
    background-color: green;
  }

  50% {
    transform: rotateY(0deg);
    background-color: red;
  }

  75% {
    transform: rotateY(-30deg);
    background-color: green;
  }

  100% {
    transform: rotateY(0deg);
    background-color: red;
  }
}

@keyframes dead{
  0%{ background-color: black; }
  50%{ background-color: grey; }
  100%{ background-color: black; }
}

@keyframes disabled{
  0%{ background-color: grey; }
  50%{ background-color: rgb(44, 42, 42); }
  100%{ background-color: grey; }
}

@keyframes berserkBubbled{
  0%{box-shadow: 1px 1px 1px 10px red;}
  50%{box-shadow: 1px 1px 3px 13px orange;}
  100%{box-shadow: 1px 1px 1px 1px red;}
}

@keyframes paladinBubbled{
  0%{box-shadow: 1px 1px 1px 10px blue;}
  50%{box-shadow: 1px 1px 3px 13px blueviolet;}
  100%{box-shadow: 1px 1px 1px 1px blue;}
}

@keyframes teleport {
  0% {
    opacity: 1;
  }

  25% {
    opacity: .2
  }

  50%{
    opacity: .8
  }

  75% {
    opacity: .5
  }

  100% {
    opacity: 0;
  }
}
