#animationWrapper .scoreAnimation {
  z-index: 9999;
  opacity: 0;
  position: absolute;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;;

  animation-name: getUp;
  animation-iteration-count: 1;
  animation-duration: 650ms;
  color: rgb(0, 74, 0);
  font-size: 32px;
  pointer-events: none;

}

#animationWrapper {
  pointer-events: none;
  z-index: var(--animation-z-index);
  position: absolute;
  width: 95%;
  height: 93%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#animationWrapper .criticalAnimation{
  z-index: 9999;
  opacity: 0;
  position: absolute;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
  animation-name: critical;
  animation-iteration-count: 1;
  animation-duration: 2000ms;
  color: rgb(0, 74, 0);
  font-size: 32px;
  pointer-events: none;
}

#animationWrapper .countdownAnimation{
  z-index: 9999;
  opacity: 0;
  position: absolute;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
  width: 20px;
  height: 20px;
  font-size: 30px;
  text-align: center;
  animation-name: countdown;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
  background-color: black;
  border-radius: 100%;
  padding: 10px;
  pointer-events: none;
}

#animationWrapper .countdownAnimation .txt-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;

}

.screenDamageAnimation {
  animation-name: screenDamage;
  animation-duration: 700ms;
}

.animationText {
  z-index: 9999;
  opacity: 0;
  position: absolute;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
  animation-iteration-count: 1;
  animation-duration: 3000ms;
  color: rgb(0, 74, 0);
  font-size: 32px;
  pointer-events: none;
  animation-name: popScale;
  background-color:rgba(0, 0, 0, 0.781);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}
.anounceAnimation{
  position: absolute;
  max-height: 100%;
  top: 3%;
  width: 50%;
  text-align: center;
  left: 30%;
  border: 4px solid black;
  font-size: 30px;
  z-index: 888;
  background-color: rgb(0, 0, 0);
  animation: announceAnimationFading 10000ms;
  animation-timing-function: ease-out;
}

@keyframes popScale {
  0% {
    transform: scale(0.01);
    opacity: 0;
  }
  5%{
    transform: scale(1.25);
    opacity: 1;
  }
  80%{
    transform: scale(1.25);
    opacity: 1;
  }
  100%{
    opacity:0;
    transform: scale(0.01);
  }

}
@keyframes announceAnimationFading {
  0%{
    opacity: 0;
  }10%{
    opacity: .9;
  }80%{
    opacity: .9;
  }
    100%{
    opacity: 0;
  }
}


@keyframes screenDamage {
  0%{
    box-shadow: inset 0px 0px 20px 5px red;
    opacity: .6;
  }

  20%{
    box-shadow: inset 0px 0px 20px 10px red;
    opacity: 1;
  }

  100%{
    box-shadow: inset 0px 0px 20px 10px red;
    opacity: 0;
  }
}

@keyframes countdown {
  0% {
    opacity: 0;
    transform: scale(.01) translateY(-100px)
  }

  30% {
    transform: scale(1.5) translateY(-100px);
    opacity: 1;
  }

  90% {
    transform: scale(1.5) translateY(-100px);
    opacity: 1;
  }

  100%{
    transform: scale(0) translateY(-100px);
    opacity: 0;
  }
}

@keyframes getUp {
  0% {
    opacity: 1;
    transform: translateY(-25px)
  }

  100% {
    transform: translateY(-125px);
    opacity: 0
  }
}

@keyframes critical {
  0% {
    color: red;
    opacity: 1;
    transform: translateY(-25px)
  }

  20%{
    color: orange;
  }

  40%{
    color: green;
  }

  60%{
    color: lightblue;
  }
  80%{
    color: blue;
  }
  100% {
    color: violet;
    transform: translateY(-125px);
    opacity: 0
  }

}
.globalAnnounce{
  color : white;
}