
.bullet{
  position: absolute;
  margin-top: -5px;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  border: 3px solid rgb(170, 0, 0);
  border-radius:50%;
  transition: top .2s, left .2s;
  top: 0;
  transition-timing-function: linear;
  background-color: rgb(0, 0, 0);
}

.bullet.bullet--HEALER_HEAL {
  border: 0px;
  background-color: rgb(79, 235, 79);
}

.bullet.bullet--DPS_ATK {
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
}

.laser {
  position: absolute;
  transition-timing-function: linear;
  background-color: rgb(243, 57, 97);
  opacity: 0.5;
  border-radius: 20px;
  filter: blur(6px);
}

.laser.laser--SHAMAN_THUNDERBOLT {
  background-color: rgb(168, 163, 23);

}
