@import url("https://fonts.googleapis.com/css?family=Ek+Mukta:400,300,500,700,800");


:root {
  --coinBorderColor: rgba(33, 33, 33, 0.39);

  --coinTinyHeads: rgb(192, 87, 36);
  --coinTinyTails:  rgb(184, 100, 45);
  --coinTinyFont: rgb(34, 29, 29);

  --coinSmallHeads: rgb(192, 192, 192);
  --coinSmallTails: rgb(201, 201, 201);
  --coinSmallFont: rgb(34, 29, 29);

  --coinNormalHeads: rgb(255, 215, 0);
  --coinNormalTails: rgb(212, 175, 55);
  --coinNormalFont: rgb(34, 29, 29);

  --coinBigHeads: rgb(81, 251, 43);
  --coinBigTails: rgb(90, 251, 69);
  --coinBigFont: rgb(34, 29, 29);

  --coinChonkyHeads: rgb(74, 43, 251);
  --coinChonkyTails: rgb(78, 69, 251);
  --coinChonkyFont: rgb(34, 29, 29);

  --coinMassiveHeads: rgb(251, 43, 185);
  --coinMassiveTails: rgb(251, 69, 181);
  --coinMassiveFont: rgb(34, 29, 29);

  --coinSize: 1rem;
  --coinFontSize: calc(var(--coinSize) * 0.75);
  --coinTranslate: calc(var(--coinSize) * -0.075);
  --coinTranslateDelta: calc(var(--coinSize) * -0.0005);
  --coinLeft: calc(var(--coinSize) * 0.425);
  --coinWidth: calc(var(--coinSize) * 0.075);
}

/* Global Coin */

.coin {
	background: #FFDE00;
	width: var(--coinSize);
	height: var(--coinSize);
  font-size: var(--coinFontSize);
	border-radius: 50%;
	position: absolute;
  transform-style: preserve-3d;
	animation: spin 3s linear infinite;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--coinBorderColor);
  z-index: 30;
}

.coin:before {
  background-color: #FF9900;
  position: absolute;
  border-radius: 50%;
  content: '';
  height: var(--coinSize);
  width: var(--coinSize);
  transform: translateZ(var(--coinTranslate));
  border: 2px solid var(--coinBorderColor);
}

.coin:after {
  background-color: #FF9900;
  content: '';
  left: var(--coinLeft);
  position: absolute;
  height: var(--coinSize);
  width: var(--coinWidth);
  z-index: -10;
  transform: rotateY(-90deg);
  transform-origin: 100% 50%;
}

@keyframes spin{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}

/* Specific coins */

.coin.coinValueTiny {
  background-color: var(--coinTinyHeads);
  color: var(--coinTinyFont);
}
.coin.coinValueTiny:before {
  background-color: var(--coinTinyTails);
}
.coin.coinValueTiny:after {
  background-color: var(--coinTinyTails);
}

.coin.coinValueSmall {
  background-color: var(--coinSmallHeads);
  color: var(--coinSmallFont);
}
.coin.coinValueSmall:before {
  background-color: var(--coinSmallTails);
}
.coin.coinValueSmall:after {
  background-color: var(--coinSmallTails);
}

.coin.coinValueNormal {
  background-color: var(--coinNormalHeads);
  color: var(--coinNormalFont);
}
.coin.coinValueNormal:before {
  background-color: var(--coinNormalTails);
}
.coin.coinValueNormal:after {
  background-color: var(--coinNormalTails);
}

.coin.coinValueBig {
  background-color: var(--coinBigHeads);
  color: var(--coinBigFont);
}
.coin.coinValueBig:before {
  background-color: var(--coinBigTails);
}
.coin.coinValueBig:after {
  background-color: var(--coinBigTails);
}

.coin.coinValueChonky {
  background-color: var(--coinChonkyHeads);
  color: var(--coinChonkyFont);
}
.coin.coinValueChonky:before {
  background-color: var(--coinChonkyTails);
}
.coin.coinValueChonky:after {
  background-color: var(--coinChonkyTails);
}
