.emoteToolElt {
    height: 70px;
    background-color: #000000;
    color: #ffffff;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.emoteToolElt:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.emoteToolElt .emoteToolContentElt {
    position: absolute;
    right: 100%;
    bottom: -7px; /* TODO: refactor statsWrapperElt border to make this 0 */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: .5rem;
    background-color: #00000077;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 5px #000000;
    color: #ffffff;
    font-size: 1.5rem;
    z-index: 100000;
    padding: 1rem;
}

.emoteToolElt .emoteToolContentElt .emoteElt:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1.5);
    transition: 0.2s;
}

.emoteAnimation {
    animation: emoteAnimation 1s infinite;
    position: absolute;
    font-size: 2rem;
    opacity: 0.8;
    z-index:10;
}

@keyframes emoteAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
