:root {
  --punk-color: #44bd32;
  --conservatist-color : #c23616;
  --technophile-color : #192a56;
}

.flagElt{
  z-index:50;
  box-sizing: border-box;
  background-image: url('../assets/flag.png');
  background-size: cover;
  display:flex;
  position:absolute;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  justify-content: center;
  align-items: center;
}

@keyframes bounce{
  0%, 100%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(10px);
  }
}
.flagTextWrapper{
  justify-content: center;
  justify-items: center;
  display: flex;
}

.flagBaseElt{
  border: none;
  position: absolute;
  filter:grayscale(0.5);
  background-image: url('../assets/flagbase.png');
  background-size: contain;
  border-radius: 10px;
}

.flagPunk{
  border: 5px solid #42c52e;
  border-radius: 10px;
}

.flagConservatist{
  border: 5px solid #c23616;
  border-radius: 10px;
}

.flagTechnophile{
  border: 5px solid #192a56;
  border-radius: 10px;
}


.clickme.hasFlag:after{
  position: absolute;
  width:20px;
  height:20px;
  font-size: 16px;
  top:0;
  right:-24px;
  content:"🏳️";
  pointer-events: none;
  border:2px solid black;
}
.clickme.hasPunkFlag:after{
  position: absolute;
  width:20px;
  height:20px;
  font-size: 16px;
  top:0;
  right:-24px;
  content:"🏳️";
  background-color: var(--punk-color);
  pointer-events: none;
  border:2px solid black;
}
.clickme.hasConservatistFlag:after{
  position: absolute;
  width:20px;
  height:20px;
  font-size: 16px;
  top:0;
  right:-24px;
  content:"🏳️";
  background-color: var(--conservatist-color);
  pointer-events: none;
  border:2px solid black;
}
.clickme.hasTechnophileFlag:after{
  position: absolute;
  width:20px;
  height:20px;
  font-size: 16px;
  top:0;
  right:-24px;
  content:"🏳️";
  background-color: var(--technophile-color);
  pointer-events: none;
  border:2px solid black;
}

.powerUpElt{
  cursor:pointer;
  z-index:50;
  position:absolute;
  box-sizing: border-box;
  background-image: url('../assets/powerup.png');
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}
.mineElt{
  z-index:50;
  box-sizing: border-box;
  background-image: url('../assets/bomb.png');
  background-size: cover;
  display:flex;
  position:absolute;
  justify-content: center;
  align-items: center;
  cursor: url(../assets/sight.svg) 24 24, auto !important;
}
.totemElt{
 cursor:pointer;
  z-index:50;
  box-sizing: border-box;
  background-image: url('../assets/totem.jpeg');
  background-size: cover;
  display:flex;
  position:absolute;
  justify-content: center;
  align-items: center;
}

.towerElt{
  cursor: url(../assets/sight.svg) 24 24, auto !important;
  position: absolute;
  border-radius: 50%;
}

.towerElt .towerImage {
  background-image: url('../assets/tower.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform .5s;
}

.towerElt .btn-score {
  font-size: 6vh;
  color: white;
  position: absolute;
  top: -20%;
  left: 50%;
  width: 150%;
  text-align: center;
}
