
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

body,
html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  --animation-z-index: 9999;
  user-select: none;
  font-family: Karla;
  overflow: hidden;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

#gameZone {
  background-repeat: repeat;
  background-color: #fbe2d6;
  background-image: url("../assets/bg.png");
  box-sizing: border-box;
  cursor: url(../assets/sight.svg) 24 24, auto !important;
  width: 95%;
  height: 93%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 5;
  overflow: hidden;
}

#deathOverlay{
  color: white;
  background-color: black;
  opacity: .8;
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

#deathOverlay.visible{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: show-death;
  animation-duration: 10s;
}

@keyframes show-death {
  0% {
    font-size:12px;
  }
  100%{
    font-size: 42px;
  }
}



:not(.hoverableActive).hoverable {
  visibility: hidden;
  opacity: 0;
}

  
.hoverable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  color: white;
  text-shadow: 0 0 5px black;
  opacity: 0.6;
  transition: opacity 1s;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.hoverableName {
  position: absolute;
  top: -3em;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
}

.hoverableDescription {
  font-size: 1em;
  text-align: center;
  display: none;
  margin-bottom: 0.5em;
}

.hoverableActionsWrapper {
  margin-top: 0.5em;
  position: absolute;
  bottom: -2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10em;
  align-items: center;
}
.hoverableLeftClickDescription,
.hoverableRightClickDescription {
  font-size: .7em;
  text-align: center;
  margin-top: 0.5em;
}

.hoverableLeftClickDescription::before {
  content: "Clic gauche";
  font-size: 0.5em;
  display: block;
  margin-top: 0.5em;
}

.hoverableRightClickDescription::before {
  content: "Clic droit";
  font-size: 0.5em;
  display: block;
  margin-top: 0.5em;
}
