

.goldDepositElt {
  cursor: cell;
  position: absolute;
  background-image: url('../assets/golddeposit.png');
  border-radius: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.goldDepositElt .btn-score {
  font-size: 15px;
  color: white;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  text-align: center;
}

.goldMineElt {
  cursor: url(../assets/sight.svg) 24 24, auto !important;
  border: double white 1px;
  position: absolute;
  filter: grayscale(0.5);
  background-image: url('../assets/goldmine.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  background-color: rgb(190, 190, 190);
}

.goldMineElt .btn-score {
  font-size: 25px;
  color: white;
  position: absolute;
  top: 120%;
  left: 50%;
  width: 150%;
  text-align: center;
}
