:root {
  --health-bar-height: 8px;
  --marker-height: 20px;
  --punk: #0b5500;
  --technophile: #0a005a;
  --conservatist : #701500;
  --font-size : 0.7rem;
}

.healthScore{
  display: flex;
  align-items: center;
  height: 100%;
  bottom: 100%;
  text-shadow: 1px 1px 3px black;
  color: white;
  padding-left: 2px;
  font-weight: bold;
}

.clickme .healthScore{
  font-size:0rem;
}

#skillbar-wrapper .healthScore{
  padding-left: 8px;
}


.clickme .healthScore{
  justify-content: center;
  align-items: center;
}
#skillbar-wrapper .healthGraph{
  border: 2px solid black;
  border-radius: 20px;

}

.healthGraph{
  position: relative;
  box-sizing: border-box;
  height: var(--health-bar-height);
}

.healthBar {
  pointer-events: none;
  height: var(--health-bar-height);
  width: 100%;
}
.clickme .healthBar {
  position: absolute;
  background-color: black;
  width: 80%;
  right:10%;
  bottom: 6px;
  color: black;
  outline: 1px solid black;
  opacity: 0.8;
  z-index: 5
}
.clickme .healthGraph{
  background-color: white;
}

.clickme .healthScore{
  mix-blend-mode: difference;
}

  .teamMatesWrapper .healthBar{
    color:white;
    width:50%;
    margin-left : 25%;
    top: 20px;
  }

  .towerElt .healthBar{
    transform: rotate(0deg);
    margin-top:-20px;
    background-color: black;
    font-size: var(--font-size);
  }
  .totemElt .healthBar{
    position: absolute;
    margin-top:-50px;
    background-color: black;
    font-size: var(--font-size);
    width: 100%;
  }
  .goldDepositElt .healthBar{
    position: absolute;
    margin-top:-30px;
    background-color: black;
    font-size: var(--font-size);
    width: 100%;
  }
  .goldMineElt .healthBar{
    position: absolute;
    margin-top:-30px;
    background-color: black;
    font-size: var(--font-size);
    width: 100%;
  }
  .healthScore{
    position: relative;
    bottom: 100%;
    color: rgb(255, 255, 255);
  }
  .healthGraph{
    position: relative;
    height: var(--health-bar-height);
  }
  #skillbar-wrapper .healthBar{
    width: 20vmax;
    position: absolute;
    top: calc(var(--marker-height));
    left: 20px;
    background-color: black;
    font-size: var(--font-size);
    border-radius: calc(var(--health-bar-height)/2)
  }

  #skillbar-wrapper .teamMatesWrapper .healthBar{
    background-color: black;
    font-size: var(--font-size);
    border-radius: calc(var(--health-bar-height)/2);
    position: relative;
    top: unset;
    left: unset;
  }

  .teamMatesWrapper {
    padding-top: 10px;
    width:80%
  }

.markerToLvl {
  visibility: hidden;
  position: absolute;
  display: flex;
  top: calc(0px - var(--marker-height));
  margin-left: calc(0px - var(--marker-height) / 2);
  width: 0px;
  font-size: var(--marker-height);
}

.markerToLvl {
  text-shadow: 3px 3px 6px black;
}

.markerToLvl.up {
  color: #03cf2f;
}

.markerToLvl.down {
  color: #d10000;
}
.punkPins{
  box-shadow: 4px 4px var(--punk), -4px -4px var(--punk);
}
.conservatistPins{
  box-shadow: 4px 4px var(--conservatist), -4px -4px var(--conservatist);
}
.technophilePins{
  box-shadow: 4px 4px var(--technophile), -4px -4px var(--technophile);
}
.noFactionPins{
  box-shadow: 4px 4px black, -3px -3px black;
}
