@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
#level-menu-elt {
  position: absolute;
  align-items: center;
  display: flex;
  max-height: 70%;
  width: calc(100% - 24px);
  padding: 0px 12px;
  transform: translateY(-50%);
  top: 50%;
  z-index: 50;
  z-index: 999;
}

/* #level-menu-elt:before {
  content: 'EVOLUTION !';
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 50px;
  text-shadow: 9px 7px 10px white;
  color: white;
  font-family: 'Cinzel';
  BACKGROUND-COLOR: black;
  clip-path: polygon(4% 0, 96% 0, 100% 100%, 0% 100%);
} */
#level-menu-elt .classe-card {
  background: rgb(97, 97, 97);
  flex: 1;
  opacity: 1;
  height: 100%;
  color: white;
  font-size: 2.6vh;
  overflow:hidden;
  border-radius: 10px;
  text-shadow: 1px 2px 0px black;
  width: 100%;
  background-color: black;
  border: 1px white solid;
  font-family: 'Courier New', Courier, monospace;
  z-index: 999;
}


.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  z-index:4;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 500%;
  overflow:visible;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: .1;
}

.glow-on-hover:after:hover {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  background: inherit;
  transition: opacity 1s;
}

#level-menu-elt .classe-card:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.classe-card .classe-card-title {
  font-size: 5vh;
  text-align: center;
  filter: brightness(120%);
  border-radius: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.classe-card .classe-card-header{
  display: grid;
  gap: 4px;
  grid-template-columns: 5fr 2fr;
  padding: 0px 12px;
}

.classe-card .classe-card-skills {
  margin: 10px;
  font-size: 1vh;
  outline: 1px solid grey;
  filter: brightness(120%);
  border-radius: 7px;
}

.classe-card .classe-card-skills img {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid white;
}

.classe-card .classe-card-skill-title {
  padding-top:5px;
  padding-left:5px;
  font-size: 2.5vh;
  display: flex;
  align-items: center;
}

.classe-card .classe-card-skill-description {
  font-size: 1.5vh;
  text-align : left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-top : 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.lvl-up-stats-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.classe-card-stat-shift-wrapper{
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  font-size: 2vh;
  padding: 10px;
}

.classe-card-header .classe-card-image {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 20px 5px black inset;

}
.classe-card-stat-shift{
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.classe-card-stat-shift-emoji {
  display: inline-flex;
  justify-content: start;
  width: 33%;
}
.classe-card-stat-shift-total {
  display: inline-flex;
  justify-content: center;
  font-size: 2vh;
  width: 33%;
  letter-spacing: -1px;
}
.classe-card-stat-shift-color {
  display: inline-flex;
  justify-content: end;
  font-size: 1.5vh;
  letter-spacing: -2.5px;
  width: 33%;
}

.classe-card-stat-shift-color.add{
  color: rgb(57, 185, 24);
}
.classe-card-stat-shift-color.null{
  color: grey;
}
.classe-card-stat-shift-color.sub{
  color: rgb(255, 87, 87);
}

.lvl-up-button-wrapper {

}

.overlay {
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(3px);
}


@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.breath {
  animation: breath 3s infinite ease-in-out;
}

@keyframes breath {
  0% { filter: invert(0) }
  50% { filter: invert(1) }
  100% { filter: invert(0) }
}
