.levelInfoElt {
  text-align: center;
}

.levelNameElt {
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

.devolveButtonElt {
  display: inline-flex;
  margin-top: 0.2rem;
  border-radius: 6px;
  padding: 0 0.6rem;
  background-color: grey;
}

.devolveButtonElt:hover {
  background-color: #555;
  cursor: pointer;
}

.devolveButtonElt.confirm {
  background-color: red;
  outline: 2px solid blue;
}

.devolveButtonElt.confirm:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.devolveButtonElt.disabled {
  display: none;
}
