
.tp-stack {
  position: relative;
  top: 0%;
  left: 100%;
  padding-left: 6px;
  font-size: 1rem;
  text-shadow: 2px 2px 5px black;
  color: #00ff38;
  white-space: nowrap;
  display: flex;
}

.clickme {
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
  opacity: .5;

  cursor: url(../assets/sight.svg) 24 24, auto !important;
  border-radius: 5px;

  font-weight: bold;
  vertical-align: text-top;

  outline: none;
  background-size: cover;
}

.clickme .turret {
  width: 20%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  z-index: 8;
  position: absolute;
}

.clickme .stats {
  position: relative;
  top: 0;
  left: 0;
}

.btn-score {
  pointer-events: none;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  text-shadow: 2px 2px 5px black;
}

.btn-gold {
  pointer-events: none;
  white-space: nowrap;
  font-size: 1rem;
  position: relative;
  display: flex;
  top: 0%;
  left: 100%;
  padding-left: 6px;
  text-shadow: 2px 2px 5px black;
  opacity: .6;
}
.goldConteneur{
  position: absolute;
  bottom: 1px;
  width: 80%;
  right:10%;
  height:3px;
}
.goldBar{
  position: relative;
  left:0%;
  background-color: rgb(211, 211, 63);
  height: 100%;
}
.clickme.isPlayer {
  opacity: .9;
  cursor: pointer;
  z-index: 2;
}

.clickme .nameElt{
  pointer-events: none;
  text-align: center;
  z-index: 3;
  display: inline;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  white-space: nowrap;
  font-family: Karla;
  font-weight: bold;
}

.stat-gold{
  background-color: black;
  font-size: 14px;
  border: 2px solid black;
  color: white;
  width: fit-content;
  font-weight: bolder;
  bottom: 2px;
  border-radius: 5px;
  padding-right: 10px;
  left: 25px;
  position: absolute;
}

.stat-gold.full{
  border:1px solid yellow;
}

.stat-gold:not(.full){
  border:1px solid black;
}

.tooMuchGold{
  background-color: firebrick;
  color:wheat;
  font-size: bolder;
}

.playerCanon {
  pointer-events: none;
  position: absolute;
  top: 90%;
  left: 50%;
  width: 20%;
  height: 80%;
  transform: translate(-50%,-50%);
  transform-origin: top;
  z-index: 7;
  border-radius: 10px;
  overflow: hidden;
}

.playerCanon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000
}
.playerAlterationElt {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0.5rem;
  font-size: 0.6rem;
}

.classIcon{
  position: absolute;
  background-size: cover;
  z-index: 0;
  top:5px;
  left:5px;
  width:33%;
  height:33%;
  opacity: 0.7;
  border-radius: 5%;
  border: 1px solid white;
}
