img{
  pointer-events: none;
}
.portalElt{
  /* cursor : cell; */
  cursor: url(../assets/cursors/portal_cursor_min.png) 16 16, auto !important;
  opacity: 1;
  position: absolute;
  filter: blur(4px);
  border-radius: 50%;
  outline: 8px solid black;
  background-color: black;
  z-index: -1;

  /* border-radius: 20%; */
  /* clip-path: polygon(50% 0%, 89% 8%, 100% 35%, 100% 70%, 88% 94%, 50% 100%, 14% 93%, 0% 70%, 0% 35%, 12% 9%); */
}

.portalNoFaction{
  animation: portalBounce 20s infinite;
  /* animation-name: portalNoFaction;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}
.portalTechnophile{
  animation: portalBounce 20s infinite;
  outline-color: rgb(52, 50, 120);
  background-color: rgb(52, 50, 120);
  /* animation-name: portalTechnophile;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}
.portalPunk{
  animation: portalBounce 20s infinite;
  outline-color: rgb(81, 160, 91);
  background-color: rgb(81, 160, 91);
  /* animation-name: portalPunk;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

.portalConservatist{
  animation: portalBounce 20s infinite;
  outline-color: rgb(160, 81, 81);
  background-color: rgb(160, 81, 81);
  /* animation-name: portalConservatist;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}






.portalDesactivated{
  cursor: grab;
  opacity:0.5;
  position: absolute;
  background-color: black;
  filter: blur(4px);
  border-radius: 50%;
}

.portalSpiralElt{
  opacity: 1;
  position: absolute;
  animation-name: spiralRotate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portalSpiralElt img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: portalBounce 20s infinite;
  filter: brightness(500%) invert(0.15);
  /* animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
  /* border-radius: 20%; */
  /* clip-path: polygon(50% 0%, 89% 8%, 100% 35%, 100% 70%, 88% 94%, 50% 100%, 14% 93%, 0% 70%, 0% 35%, 12% 9%); */
}

.portalSpiralDesactivatedElt{
  opacity: 1;
  position: absolute;
  animation-name: spiralRotate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex;
  align-items: center;
  justify-content: center;
  filter:grayscale(1);
}

.portalSpiralDesactivatedElt img{
  width: 100%;
  height: 100%;
  /* animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
  /* border-radius: 20%; */
  /* clip-path: polygon(50% 0%, 89% 8%, 100% 35%, 100% 70%, 88% 94%, 50% 100%, 14% 93%, 0% 70%, 0% 35%, 12% 9%); */
}


@keyframes spiralRotate {
  0%{
    transform: rotateZ(360deg);
  }
  100%{
    transform: rotateZ(0deg);
  }
}

@keyframes portalBounce {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes portalNoFaction{
  0%{
    background-color: rgb(97, 97, 97);
    transform: rotateZ(0deg);
  }
  25%{
    background-color: rgb(216, 216, 216);
  }
  50% {
    transform: rotateZ(180deg) scale(1.2);
  }
  75%{
    background-color: rgb(216, 216, 216);
  }
  100%{
    background-color: rgb(97, 97, 97);
    transform: rotateZ(360deg);

  }
}

@keyframes portalPunk{
  0%{
    background-color: rgb(2, 68, 2);
    transform: rotateZ(0deg);
  }
  25%{
    background-color: rgb(81, 160, 91);
  }
  50% {
    transform: rotateZ(180deg) scale(1.2);
  }
  75%{
    background-color: rgb(81, 160, 91);
  }
  100%{
    background-color: rgb(2, 68, 2);
    transform: rotateZ(360deg);

  }
}


@keyframes portalTechnophile{
  0%{
    background-color: rgb(10, 2, 68);
    transform: rotateZ(0deg);
  }
  25%{
    background-color: rgb(52, 50, 120);
  }
  50% {
    transform: rotateZ(180deg) scale(1.2);
  }
  75%{
    background-color: rgb(52, 50, 120);
  }
  100%{
    background-color: rgb(10, 2, 68);
    transform: rotateZ(360deg);

  }
}

@keyframes portalConservatist{
  0%{
    background-color: rgb(68, 2, 2);
    transform: rotateZ(0deg);
  }
  25%{
    background-color: rgb(160, 81, 81);
  }
  50% {
    transform: rotateZ(180deg) scale(1.2);
  }
  75%{
    background-color: rgb(160, 81, 81);
  }
  100%{
    background-color: rgb(68, 2, 2);
    transform: rotateZ(360deg);

  }
}
