
#selectionScreen {
  position: absolute;
  z-index: 99999;
  display: grid;
  grid-template-rows: .1fr .5fr .2fr .1fr .1fr;
  justify-items: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .8));
  width: 100%;
  height: 100%;

  --selection-screen-emoji-size: 3rem;
}

#selectionScreen .readyBtn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#selectionScreen .readyBtn:hover {
  animation: pulse 0.7s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#selectionScreen .nameInput {
  margin: 10px;
  width: 80%;
  height: 3rem;
  font-size: 2rem;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#selectionScreen .nameInput:focus {
  outline: none;
}

#selectionScreen .factionSelectionMenu {
display: flex;
align-items: center;
justify-content: space-around;
width: 100%;
}

#selectionScreen .factionSelectionMenu .factionBtn {
  position: relative;
  width: 25%;
  height: 100px;
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
  color: white;
  font-size: 1rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  filter:grayscale(0.7)
}

#selectionScreen .factionSelectionMenu .factionBtn .factionTitle {
 font-size: 1,2rem;
}
#selectionScreen .factionSelectionMenu .factionBtn .factionGold {
 position: absolute;
 top: 0;
 right: 0;
}
#selectionScreen .factionSelectionMenu .factionBtn .factionPlayers {
 position: absolute;
 top: 0;
 left: 0;
}


#selectionScreen .factionSelectionMenu .factionBtn.conservatist{
  background-color: #cb1111;
  transform: rotate(2deg);
}
#selectionScreen .factionSelectionMenu .factionBtn.technophile{
  background-color: #1313d3;
  transform: rotate(2deg);
}
#selectionScreen .factionSelectionMenu .factionBtn.punk{
  background-color: #0c9a0c;
  transform: rotate(-2deg);
}
#selectionScreen .factionSelectionMenu .factionBtn.selected{
  filter: grayscale(0);
}
#selectionScreen .factionSelectionMenu .factionBtn.selected.conservatist{
  border-color: #cb1111;
}
#selectionScreen .factionSelectionMenu .factionBtn.selected.technophile{
  border-color: #1313d3;
}
#selectionScreen .factionSelectionMenu .factionBtn.selected.punk{
  border-color: #0c9a0c;
}

#selectionScreen .factionSelectionMenu .factionBtn:hover {
  transform: scale(1.1);
}


#selectionScreen .emojiSelectionMenu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--selection-screen-emoji-size), 1fr));
  margin:20px;
}

#selectionScreen .emojiNameWrapper {
  width: 50%;
}
#selectionScreen .topEmojiNameClassLockWrapper {
  margin:20px;
  width: 90%;
  display:flex;
}

#selectionScreen .emojiSelectionMenu .emojiBtn {
  width: var(--selection-screen-emoji-size);
  height: var(--selection-screen-emoji-size);
  font-size: 2rem;
  border-radius: 50%;
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#selectionScreen .emojiSelectionMenu .emojiBtn:hover {
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  font-size: 2.3rem;
}

#selectionScreen .emojiSelectionMenu .selected {
  animation: borderBlink 1s infinite;
  animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5)!important;
}

#selectionScreen .factionSelectionMenu .factionBtn.selected {
  transform: scale(1.2) rotate(0deg);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-size: 400% 400%;
  animation: gradient-animation 3s ease infinite;
}


#selectionScreen .factionSelectionMenu .factionBtn.selected:hover {
  transform: scale(1.3) rotate(0deg);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-size: 400% 400%;
  animation: gradient-animation 3s ease infinite;
}

.classIconMenu{
  width:75px;
  height: 75px;
  border: 3px solid black;
  background-size: cover;
}

.classIconMenu.selected{
  border: solid 3px white
}
.lock::after{
  content:'🔓';
}
.lock{
  background-color: red;
  border:1px solid black;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.locked::after{
  content:'🔒';
}
.locked{
  background-color: green;
  border:1px solid white;
  text-align: center;
  display: table-cell;
  vertical-align: middle;

}

.classIconMenu:hover{
  border: 3px double white;
}
#classLockWrapper{
display: flex;
width : 50%;
border:1px solid wheat
}
#classLockMenuElt{
  width:100%;
  border : 1px dotted blue;

}
#rightColumn{
  width:25%;
  border:solid 1px red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.originClassMenu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.classCardContainer{
  border:double 3px orange;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.classCardContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.classCardContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@keyframes gradient-animation {
  0% {
    background-position: -15% 50%;
  }
  50% {
    background-position: 115% 50%;
  }
  100% {
    background-position: 115% 50%;
  }
}

@keyframes borderBlink {
  0% {
    border: 3px solid #f5f5f5;
    outline: 3px solid #f5f5f5;
  }
  50% {
    border: 3px solid red;
    outline: 3px solid red;
  }
  100% {
    border: 3px solid #f5f5f5;
    outline: 3px solid #f5f5f5;
  }
}

@keyframes factionSelected {
  0% {
    outline: .3rem solid white;
  }
  50% {
    outline: .3rem solid black;
  }
  100% {
    outline: .3rem solid white;
  }
}
