.aoe-heal-animation {
  position: absolute;
  animation-name: BlastAoe;
  background-color: rgb(1, 134, 30);
  animation-iteration-count: infinite;
  border-radius: 50%;
  filter: blur(20px);
}

.aoe-dot-animation {
  position: absolute;
  background-color: rgb(138, 208, 0);
  animation-name: BlastAoe;
  animation-iteration-count: infinite;
  border-radius: 50%;
  filter: blur(20px);
}

.aoe-damage-animation{
  position: absolute;
  background-color: rgb(208, 0, 0);
  animation-name: BlastAoe;
  animation-iteration-count: infinite;
  border-radius: 50%;
  filter: blur(20px);
}

.aoe-both-animation{
  position: absolute;
  background-color: rgb(129, 0, 65);
  animation-name: BlastAoe;
  animation-iteration-count: infinite;
  border-radius: 50%;
  filter: blur(20px);
}

@keyframes Aoe {
  0%{
    opacity: .05;
  }
  20%{
    opacity: .5;
  }
  100%{
    opacity: 0
  }
}

@keyframes BlastAoe {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  20%{
    opacity: .7;
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.2);
    opacity: 0;
  }
}
