#skillbar {
  position: absolute;
  bottom: 0;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill {
  width: 40px;
  height: 40px;
  justify-content: center;
  background-color: lightsteelblue;
  margin: 4px;
  border : 4px solid black;
  cursor: pointer;
}

#skillbar .skill:hover:not(.skill-selected) {
  border : 4px solid whitesmoke;
}

.skill img,
.level-menu-elt button img {
  pointer-events: none;
  width: 100%;
  height: 100%;
  user-select: none;
  border-radius: inherit;
  z-index: 999;
}

.skill-selected {
  opacity: 1;
  border : 4px dashed black;
}

.stack-elt{
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 25px;
  left: 5%;
  text-shadow: 4px 5px 5px black;
  z-index: 1;
  pointer-events:none;
}

.reloadSkill.isCooldown {
  animation-name: reloadSkillAnim;
  z-index: 3;
  width: 101%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 1px;
  background: linear-gradient(0.25turn, #5e2828, #2e3047, #3d1b1b);
  border-radius: inherit;
}

#skillbar-wrapper{
  position: absolute;
  width: 100%;
  bottom: 0;
  background-image: url('../assets/skillbar.png');
  background-color: rgb(141, 141, 141);
  background-repeat: repeat;
  z-index:20;
  background-position-y: 275px;
}

@keyframes reloadSkillAnim{
  0%{
    opacity: .9;
  }

  90% {
    opacity: .5;
  }
  100%{
    opacity: 0;
  }
}

.timer {
  pointer-events: none;
  --color-back: rgb(191, 191, 191);
  --color-front: rgb(33, 33, 33);
  --color-mask: rgb(255, 255, 255);

  opacity: 0.75;

  background: -webkit-linear-gradient(left, var(--color-back) 50%, var(--color-front) 50%);
  border-radius: 100%;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0px;
  left: 1px;
  animation: time calc(var(--duration) * 1ms) steps(1000, start) infinite;
  mask: radial-gradient(transparent 0%, var(--color-mask) 0%);

  overflow: hidden;
}

.timer.hidden {
  display: none;
}

.mask {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
  animation: mask calc(var(--duration) * 1ms) steps(500, start) infinite;
  transform-origin: 100% 50%;
}

@keyframes time {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes mask {
  0% {
    background: var(--color-front);
    transform: rotate(0deg);
  }
  50% {
    background: var(--color-front);
    transform: rotate(-180deg);
  }
  50.01% {
    background: var(--color-back);
    transform: rotate(0deg);
  }
  100% {
    background: var(--color-back);
    transform: rotate(-180deg);
  }
}
