#statsPanelWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: absolute;
  background-image: url('../assets/skillbar.png');
  background-color: black;
  background-repeat: repeat;
  z-index: 10;
  border: black 7px solid;
  box-sizing: border-box;
  font-size: 2.2vh;
  color: white;
  text-shadow: 2px 2px 5px black;
  background-position-x: 400px;
}

#statsPanelWrapper .topStats,
#statsPanelWrapper .bottomStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

#statsPanelWrapper .topStats {
  display: flex;
  flex: 1;
}

#statsPanelWrapper .bottomStats {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
}

#statsWrapper .stat {
  padding: 2%;
}

.displayNone {
  display: none;
}

#GameStatsPaneler {
  height: 30px;
  position: relative;
  color: rgb(182, 182, 182);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  cursor: pointer;
  border: black 1px groove;
  width: 95%;
  font-size: 18px;
  height: inherit;

}

#factionStatus {
  position: absolute;
  bottom: 120%;
  right: 1%;
  width: 20vw;
  color: rgb(182, 182, 182);
  background-color: black;
  font-size: 12px;
  z-index: 50000;
  padding: 15px;
  border-radius: 15px;
}

.teamMatesClassIcon {
  position: absolute;
  display: inline;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.teamMatesName {
  font-size: 25px;
  margin-left: 28px;
  border-top: 1px solid grey;
  -webkit-text-stroke: 0.1px white;
  padding: 5px;
}


.punkMatesNames {
  border: 3px solid green
}

.conservatistMatesNames {
  border: 3px solid red
}

.technophileMatesNames {
  border: 6px solid #192a56;
}

.hidden {
  display: none !important;
}


.tpStackContainer {
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 11vMax;
  height: 13px;
  width: 10vmax;
  border-radius: 4px;
  border: 1px solid pink;
  background-color: black;
}

.tpStackContainer.empty {
  animation: emptyBlink 1s infinite linear;
}

@keyframes emptyBlink {

  0%,
  100% {
    background-color: black;
  }

  50% {
    background-color: rgba(255, 0, 0, 0.626);
  }
}

.tpStackElt {
  opacity: 0;
  height: 11px;
  border: 1px solid grey;

}

.tpStackEltVisible {
  opacity: 1;
  background: linear-gradient(rgb(113, 113, 248), rgb(0, 0, 63));
}

#affinitiesPanel.affinitiesText,
#statsWrapper #statsHeader,
.levelInfoElt .levelInfoHeaderElt,
.timerElt .timerHeaderElt,
.emoteToolElt .emoteToolHeaderElt,
.statHeaderText {
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
}

#statsHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#affinitiesPanel.affinityText {
  flex: 2;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0px 0px .5px #fff;
}

#affinitiesPanel.healthBar {
  flex: 3;
}

#affinitiesPanel.affinityText.punk {
  color: #44bd32;
}

#affinitiesPanel.affinityText.conservatist {
  color: #c23616;
}

#affinitiesPanel.affinityText.technophile {
  color: #1040bb;
}

#affinitiesPanel.affinityText.active {
  font-weight: 900;
  font-size: 14px;
  text-decoration: underline;
}

.buttonBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.buttonBar>* {
  flex: 1;
}

#affinitiesPanel,
#statsWrapper,
.levelInfoElt,
.timerElt,
.emoteToolElt,
.GameStatsPanelerWrapper {
  border: 1px white solid;
  border-radius: 5px;
  padding: 5px;
  width: 95%;
  text-align: center;
}

.GameStatsPanelerWrapper {
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.GameStatsPanelerWrapper:hover {
  filter: brightness(1.2);
  z-index: 10000;
}


.affinityBarWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.separator {
  border: 1px #888 solid;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}










#wrapperFactionStats {
  background-color: black;
  position: relative;
  width: fit-content;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cardFactionPlayers {
  color: white
}

.goldStatValue {
  background-color: rgb(165, 165, 165);
  width: 80%;
  text-align: center;
  border: 1px solid gray;
  position: absolute;
  bottom: 3%;
}

.cardFactionPlayersIcon {
  font-size: 16px;
}

#titleFactionStats {
  font-size: large;
  color: white;
  line-height: 2;
}

#flagsContainerNeutral {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}

.factionCard.cardSelected {
  border: 6px solid white;
}

#whitebar {
  width: 80%;
  height: 1px;
  border-bottom: 1px solid white;
}

#cardContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.flag {
  position: relative;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 2px solid white;
  margin: 5px;
  font-size: 10px;
}

.flagsContainer {
  border: 1px solid white;
  background-color: black;
  width: 80%;
  height: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.factionCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  width: 90px;
  border: 6px solid black;
  cursor: pointer;
}

.factionCard:hover {
  border: 6px double yellow;
}

.factionCard.selected {
  border: 6px groove yellow;
}

.punkBG {
  background-color: green;
}

.conservatistBG {
  background-color: red;
}

.technophileBG {
  background-color: blue;
}

.cardFactionGoldStat {
  font-size: 12px;
  text-align: center;
  width: 80%;
  background-color: grey;
  color: black
}

#goldStats {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 90%;
  height: 15px;
  border: 1px solid white;
  margin: 0 auto;
  margin-top: 1px;
  margin-bottom: 6px;
  background-color: grey;
}

#punkGoldsPercent {
  height: 100%;
  position: relative;
  top:0;
  left:0;
  z-index: 4;
  border-right: 1px solid white;

}

#conservatistGoldsPercent {
  height: 100%;
  position: relative;
  top:0;
  left:0;
  z-index: 3;
  border-right: 1px solid white;
}

#technophileGoldsPercent {
  height: 100%;
  position: relative;
  top:0;
  left:0;
  z-index: 2;
  border-right: 1px solid white;
}

#punkFlag {
  width: 15px;
  height: 15px;
  background-color: green;
  border: 1px solid white;
}

#conservatistFlag {
  width: 15px;
  height: 15px;
  background-color: red;
  border: 1px solid white;
}

#technophileFlag {
  width: 15px;
  height: 15px;
  background-color: blue;
  border: 1px solid white;
}