.timerElt{
    position: relative;
    border: 1px double grey;
    font-family: 'Courier New', Courier, monospace;
    height: 1.5rem;
    /*linear-gradient(to right, rgb(${red - 100}, ${green - 100}, ${blue - 100}), rgb(${red}, ${green}, ${blue}))*/
    background: linear-gradient(to left, rgba(78, 78, 78, .5), rgba(122, 121, 121, .5));
    color:rgb(255, 255, 255);
    z-index: 1000;
}

.countingTimerElt{
    background-color: black;
    position : absolute;
    right: 0;
    top: 0;
    height: 100%;
    transition: width 1s linear;
    z-index: 1001;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Exo:wght@100&display=swap');

.announceElt{
    width: 90%;
    height: 90%;
    margin:5%;
    border : 19px double black;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: white;
    animation: appear 2s linear;
    backdrop-filter: blur(3px);
    cursor: copy;
}

.announceElt .closeBtnElt {
    position : absolute;
    top : 0px;
    right: 0px;
    height: 2rem;
    background-color: rgba(69, 69, 69, 0.8);
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    z-index: 100001;
    font-weight: bold;
    transition: all .2s ease-in-out;
    border: 1px white solid;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.announceElt .closeBtnElt:hover{
    background-color: rgb(255, 255, 255);
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    10%, 95%{
        opacity: .8;
    }
    100%{
        opacity:0;
    }

}

.showCountTimerElt{
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
    right: 30px;
    z-index: 1001;
}
