
.evolutionButton {
  position:relative;
  font-family: "Courier New", Courier, monospace;

  border-radius: 5px;
  padding-top: 0.3rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1.1rem;
  width: 95%;
  border: 1px white solid;
  cursor: wait;
  margin-top: 6px;
  opacity: 0.5;
  filter: grayscale(100%);
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  color: rgb(221, 239, 255);
}

@keyframes levelUpActive {
  0% {
    background-position: -15% 50%;
  }
  80% {
    background-position: 115% 50%;
  }
  100% {
    background-position: 115% 50%;
  }
}


.evolutionButton:after{
  content: '[ Space-Bar ]';
  font-size: 12px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  text-align: center;
  background-color: transparent;
  transform: translate(-50%,-50%);
  /* display: none; */
}

.evolutionButton.evolutionButton-on {
  opacity: 1;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-size: 400% 400%;
  background-color: rgba(255, 0, 0, 0.451);
  animation: levelUpActive 2s ease infinite;
  cursor: pointer;
  filter: grayscale(0%);
}

.evolutionButton.evolutionButton-on:hover {
  /* filter: brightness(110%); */
}

.evolutionButton.evolutionButton-on.open {

}

.evolutionButton.evolutionButton-on:after{
  animation: lvlupSpaceBar .4s linear infinite;
  display: block;
}

.evolutionButton.evolutionButton-on.open:after{
  animation: none;
}

@keyframes lvlupBlink {
  0% {
    opacity: .8;
  }
  2% {
    opacity: 0.6;
  }
  4% {
    opacity: .8;
  }
  6% {
    opacity: 0.6;
  }
  8% {
    opacity: .8;
  }
}

@keyframes lvlupSpaceBar {
  0% {
    transform: translate(-50%,-50%) scale(1);
  }
  50% {
    transform: translate(-50%,-50%) scale(1.1);
  }
  100% {
    transform: translate(-50%,-50%) scale(1);
  }
}

@keyframes lvlupGlowing {
  0% { background-position: 10% 0; }
  50% { background-position: 100% 0; }
  100% { background-position: 10% 0; }
}


/*

.evolutionButton.evolutionButton-on{
  margin-top: 2vh;
  padding-top: 1vh;
  opacity: .9;
  background-color:black;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  width:75%;
  filter: none;
  z-index:4;
  flex: .2;
  font-size: 4vh;
  text-align:center;
}

.evolutionButton-on:before {
  content: '';
  background: linear-gradient(336deg, rgba(1, 1, 88, 0.95), rgba(0,0,255,0) 70.71%),
  linear-gradient(127deg, rgba(0, 78, 0, 0.95), rgba(0,255,0,0) 70.71%),
  linear-gradient(217deg, rgba(117, 0, 0, 0.95), rgba(255, 0, 0, 0.438) 70.71%);
  position: absolute;
  top: 0;
  left:0;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: 100%;
  height: 90%;
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 3px;
}

.evolutionButton-on:active {
  color: #000
}

.evolutionButton-on:active:after {
  background: transparent;
} */
