:root {
    --background-color: #474787;
    --text-color: #0a0601;
    --serious-color: #aaa69d;
    --animation-z-index: 10
}

* {
    color: var(--text-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



#bg{
    background-image: url('../assets/clicky2.png');
    position: relative;
    filter: grayscale(.6);
    z-index: -1;
    width:100%;
    height:100%;
}

body {
    position: relative;
    z-index: 3;
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
    height:100%;
    width:100%;
    user-select: none;
}

html{
    width: 100%;
    height: 100%;
}

main {
    z-index: inherit;
    position: absolute;
    left:0;
    top:0;
    height: 100vh;
}

#right-aside-button-box{
    left: calc(100% - 340px);
    top: calc(100% - 300px);
}

#left-aside-button-box{
    top: calc(100% - 300px);
    left: 2%;
}

#left-aside-button-box,
#right-aside-button-box {
    z-index: inherit;
    width: 80%;
    height: 300px;
    
    position: absolute;
}


.left-aside-button {
    box-shadow: -8px 20px 15px 0px #000000;
    transition: box-shadow .3s linear;
    z-index: inherit;
    position:absolute;
}

.left-aside-button:hover {
    animation-name: boxShadow;

    box-shadow: -8px 20px 15px 7px #0f0f42;
}
@keyframes boxShadow{
    0%{
        box-shadow: -8px 20px 15px 0px #000000;
    }
    50%{
        box-shadow: -8px 20px 15px 2px #21216d;
    }
    100%{
        box-shadow: -8px 20px 15px 0px #000000;
    }
}
.right-aside-button:hover {
    box-shadow: 8px 20px 15px 7px #0f0f42;
    animation-name: boxShadow;

}

.right-aside-button {
    box-shadow: -8px 20px 15px 0px #000000;
    transition: box-shadow .3s linear;
    z-index: inherit;
    position: absolute;

}

.right-aside-button.top-aside-button{
    position: relative;
    right: 0;
    transform: translateX(98px);
}


#main-panel {
    position: absolute;
    z-index: inherit;
    width: 100%;
    height:100%
}

.aside-button {
    z-index: inherit;
    position: absolute;
    background-color: var(--serious-color);
    font-size: 15px;
   
    padding: 10px;
    display:flex;
    border-radius: 5px;
    filter: grayscale(1);
}

.aside-button:hover {
    filter: grayscale(0);
}


.top-aside-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: inherit;
    width: 200px;
}

.bottom-aside-button {
    z-index: inherit;
    position: absolute;
    top: 50%;
    width: 300px;
    border: 1px solid black;
}

h2 {
    z-index: inherit;

    flex-grow: 3;
    text-align: center;
}

i {
    z-index: inherit;

    font-style: normal;
    font-size: 40px;
    text-align: center;
}

#round-menu {
    z-index: inherit;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 75vmin;
    height: 75vmin;
    border-radius: 100%;
    border: 12px solid var(--text-color);
    background: linear-gradient(#e66465, #9198e5);
    animation-name: bgAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


a {
    text-decoration: none;
}

@keyframes bgAnim {
    0% {
        box-shadow: inset 4px -4px 20px 6px black
    }

    50% {
        box-shadow: inset -4px 4px 20px 6px white;
    }

    100% {
        box-shadow: inset 4px -4px 20px 6px black
    }
}

#machine-reverse{
    position: absolute;
    top: 20vh;
    left: 114vh;
    opacity: .7;
    transform: rotateY(180deg)

}

#machine {
    position: absolute;
    top: 20vh;
    left: 8vh;
    opacity: .7;
}

.top-corner-button {
    position: absolute;
    top: 10px;
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: var(--serious-color);
}

button {
    cursor: pointer;
}

#social-button {
    position: absolute;
    left: 10px;
}


#setting-button {
    z-index: inherit;
    position: absolute;
    right: 10px;
    top: 10px;
}



#clicky {
    left: 40%;
    top: 76%;
    transform: rotate(-15deg);
    animation-name: clicky;
    height: 12vh;
    background-color: #76cfa6;
}

#wars {
    display: inline;
    left: 52%;
    top: 78%;
    height: 10vh;
    transform: rotate(15deg);
    animation-name: wars;
    background-color: #c77070;

}


.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
  }
  
#animationWrapper {
    pointer-events: none;
    z-index: var(--animation-z-index);
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  @keyframes getUp {
    0% {
      opacity: 1;
      transform: translateY(-25px)
    }
  
    100% {
      transform: translateY(-125px);
      opacity: 0
    }
  }
  
.score {
    z-index: 9999;
    opacity: 0;
    position: absolute;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;;
  
    animation-name: getUp;
    animation-iteration-count: 1;
    animation-duration: 650ms;
    color: rgb(0, 74, 0);
    font-size: 32px;
    pointer-events: none;
  }

#clicky,
#wars {
    cursor: pointer;
    display: flex;
    align-items: center;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: absolute;
    font-size: 4vh;
    z-index: 5;
    color: white;
    text-decoration: overline;
    font-weight: bold;
    border: 10px black solid;
    padding: 1%;
    opacity: .8;

}

@keyframes clicky {
    0% {
        color: rgb(0, 0, 0);
        transform: rotate3d(1, 1, 1, 0deg);
    }

    33% {
        color: rgb(74, 74, 153);
    }

    50% {
        transform: rotate3d(1, 1, 1, 20deg);
    }

    66% {
        color: white;
    }

    100% {
        color: rgb(0, 0, 0);
        transform: rotate3d(1, 1, 1, 0deg);

    }

}

@keyframes wars {
    0% {
        color: rgb(0, 0, 0);
        transform: rotate3d(1, 1, 1, 360deg);
    }

    33% {
        color: rgb(74, 74, 153);
    }
    50% {
        transform: rotate3d(1, 1, 1, 340deg);
    }
    66% {
        color: white;
    }

    100% {
        color: rgb(0, 0, 0);
        transform: rotate3d(1, 1, 1, 360deg);

    }

}

#menu-wrapper{
    width:100%;
    height:100%;
}

/* main central round */

.round-menu-button {
    width: 70%;
    height: 42px;
    margin: 10px;
    background-color: #9198e5;
    border: 1px solid var(--serious-color);
    position: relative;
    font-size: larger;
}

.round-menu-button:hover,
.round-menu-button a:hover {
    background-color: #555cac;
    color: white;
}

.round-menu-button a {
    width: 100%;
    display: block;
    text-decoration: none;
}



#guild-button::before,
#team-game-button::before,
#start-game-button::before,
#pve-button::before {
    position: absolute;
    content: " ";
    height: 42px;
    box-sizing: border-box;
    background-color: #9198e5;
    border: 1px solid var(--serious-color);
    border-right: none;
    top: -1px;
}


#guild-button::after,
#team-game-button::after,
#start-game-button::after,
#pve-button::after {
    position: absolute;
    content: " ";
    height: 42px;
    box-sizing: border-box;
    background-color: #9198e5;
    border: 1px solid var(--serious-color);
    border-left: none;
    top: -1px;
}

#start-game-button::before {
    left: -30px;
    width: 50px;
    transform: skew(334deg, 0deg);
}

#start-game-button::after {
    right: -30px;
    width: 50px;
    transform: skew(26deg, 0deg);
}

#team-game-button::before {
    left: -51px;
    width: 59px;
    transform: skew(350deg, 0deg);
}

#team-game-button::after {
    right: -51px;
    width: 59px;
    transform: skew(10deg, 0deg);
}

#guild-button::before {
    left: -51px;
    width: 59px;
    transform: skew(10deg, 0deg);
}

#guild-button::after {
    right: -51px;
    width: 59px;
    transform: skew(350deg, 0deg);
}

#pve-button::before {
    left: -30px;
    width: 50px;
    transform: skew(26deg, 0deg);
}

#pve-button::after {
    right: -30px;
    width: 50px;
    transform: skew(334deg, 0deg);
}